@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
body
{
    /*define color scheme*/
    --seaside-skyblue: rgb(201,241,242);
    --seaside-blue: rgb(100,181,193);
    --seaside-orange: rgb(242,159,90);
    --seaside-cream: rgb(226,215,176);
    --seaside-slate: rgb(132,121,104);
    background-color:var(--seaside-skyblue);
}

#logo{
    background-color:inherit;
    font-family:'Leckerli One',cursive;
    font-size: 5em;
    font-weight: 600;
    color:var(--seaside-slate);
    text-shadow: -4px 4px 0px var(--seaside-orange);
    padding-left: 10px;
    padding-right: 10px;
    /*border-style: solid;
    border-color: var(--seaside-orange);*/
    display: block;
    text-align:center;
}

#logo a{
    text-decoration: none;
}

#logo a:visited{
    color: var(--seaside-slate);
}

.navbar {
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    /*border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: var(--seaside-orange);*/
    box-shadow: -6px 6px 0px var(--seaside-orange);
    display: flex;
    justify-content: space-between;
    background-color: var(--seaside-blue);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
}

.navbar a {
    color: var(--seaside-slate);
    text-decoration: none;
}

.navbar a:hover{
    color: var(--seaside-skyblue);
    text-shadow: 0px 0px 5px var(--seaside-skyblue);
}

.navbar a:active {
    color: var(--seaside-cream);
    text-shadow: 0px 0px 5px var(--seaside-cream);
}

.Row{
    margin-top: 20px;
    display: table;
    border-spacing: 30px;
    /*border-style: solid;*/
}

.Column{
    display: table-cell;
    /*border-style: solid;*/
}

.Column a{
    text-decoration: none;
}

#IntroText {
    box-shadow: -6px 6px 0px var(--seaside-orange);
    border-radius: 20px;
    height: 400px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    background-color: var(--seaside-slate);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#IntroText h1{
    text-align: center;
    font-size: 3em;
    color: var(--seaside-cream);
}

#IntroText p{
    font-size: 1.6em;
    color: var(--seaside-skyblue);
    text-align: justify;
    overflow-wrap: break-word;
}

#IntroImage {
    border-radius: 20px;
    box-shadow: -6px 6px 0px var(--seaside-orange);
    position: relative;
    float: left;
    width: 534px;
    height: 400px;
}

#ProductLink {
    background-color: var(--seaside-cream);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 30px;
    /*border-bottom-color: var(--seaside-blue);
    border-bottom-style: solid;
    border-bottom-width: 20px;*/
    box-shadow: -6px 6px 0px var(--seaside-orange);
}

#ProductLink h1{
    font-size: 3em;
    color: var(--seaside-blue);
    text-align: left;
}

#ProductLink p{
    font-size: 2.2em;
    text-align: justify;
    color: var(--seaside-slate);
}

.Footer{
    border-radius: 20px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--seaside-slate);
}

.Footer p {
    float: left;
    padding-left: 50px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.7em;
    color: var(--seaside-orange);
}

.Footer ul {
    float: left;
    padding-right: 200px;
    list-style-type: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}

.Footer li{
    padding-top:2px;
    padding-bottom:2px;
}

.Footer a {
    color: var(--seaside-cream);
    text-decoration: none;
}

.Footer a:hover {
    color: var(--seaside-cream);
    text-shadow: 0px 0px 3px var(--seaside-cream);
}

.Footer a:active {
    color: var(--seaside-blue);
    text-shadow: 0px 0px 3px var(--seaside-blue);
}

.Footer a:visited {
    color: var(--seaside-cream);
}